.app-container {
	width: 100%;
	overflow-x: hidden;

	.app-content {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: 100%;
		gap: 100px;
		overflow-x: hidden;
	}
}

@media (max-width: 768px) {
	.app-container {
		max-width: 100vw;
		overflow-x: hidden;

		.app-content {
			gap: 60px;
			max-width: 100%;
		}
	}
}
