.app-container {
	padding: 0 100px;

	.app-content {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: 100%;
		padding-top: 100px;
		gap: 100px;
	}
}
