.hero {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	color: #fff;

	.hero__content {
		display: flex;
		flex-direction: column;
		align-items: center;
		max-width: 600px;
		text-align: center;

		.hero__title {
			font-size: 48px;
			font-weight: 600;
			margin-bottom: 20px;
		}

		.hero__description {
			font-size: 18px;
			font-weight: 400;
			width: 70%;
			line-height: 1.5;
		}
	}
}
