.navbar {
	display: flex;
	position: sticky;
	top: 0;
	padding: 20px 0;
	align-items: center;
	width: 100%;
	justify-content: space-between;

	.navbar__logo {
		width: auto;
		height: 30px;
	}

	.navbar__linksContainer {
		display: flex;
		gap: 50px;
		margin: 0;
		padding: 0;
		align-items: center;
	}

	.navbar__links {
		display: flex;
		gap: 20px;
		margin: 0;
		padding: 0;

		.navbar__link {
			a {
				text-decoration: none;
				color: white;
				font-size: 16px;
				font-weight: 600;
				transition: color 0.3s ease;
			}
		}
	}

	.navbar__signupButton {
		color: #3a8ed2;
		padding: 10px 20px;
		border-radius: 5px;
		text-decoration: none;
		border: 1px solid #3a8ed2;
	}
}
