.features {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	scroll-margin-top: 100px;
	padding: 0 100px;

	.features__title {
		font-size: 32px;
		font-weight: 400;
		color: white;
	}

	.features__cardContainer {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		gap: 20px;

		.feature__card {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			gap: 10px;
			height: 150px;
			background-color: #1a1a1a;
			color: grey;
			opacity: 0.5;
			padding: 20px;
			border-radius: 10px;
			border: 1px solid grey;
			transition: all 0.3s ease;
		}

		.feature__icon {
			transition:
				transform 0.3s ease,
				color 0.3s ease;
		}

		.feature__card:hover {
			.feature__icon {
				color: white;
				transform: scale(1.1);
			}
		}
	}
}

@media (max-width: 768px) {
	.features {
		padding: 0 20px;
	}
}
