* {
  box-sizing: border-box;
}

html,
body {
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
  overflow-x: hidden;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("/background.png");
  background-size: cover;
  background-position: top ;
  background-repeat: no-repeat;
  overflow-x: hidden;
}

#app {
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  max-width: 1400px;
  margin: 0 auto;
  scroll-behavior: smooth;
  width: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
